body
{
  max-width: 1900px;
  width:100%;
  height: 100%;
  margin: 0;
  padding: 0;

}

.header
{
  display: block;
  position:absolute;
  width:100%;
  height: 100%;
  background-color: #979797;
  opacity: 0.5;

}

.nav
{
  position:absolute;;
  bottom: 0;
  width: 100%;
  height:50px;
  background-color: #83CB70;

}

.nav-writing
{
  color: white;
}
#about
{
  position: absolute;
  left: 15%;
}
#services
{
  position: absolute;
  left: 30%;

}

#location
{
  position: absolute;
  left: 45%;

}
#testimonials
{
  position: absolute;
  left: 60%;

}
#contact
{
  position: absolute;
  left: 75%;

}
.content
{
  height:450px;
  width: 100%;
}
.wrap
{
  position:absolute;

  width:100%;
  height:450px;
  top:100%;
}
#aboutContainer
{
  position:absolute;
  background-color: pink;


}
#servicesContainer
{
  position:absolute;
  background-color: #83CB70;
  opacity:0.55;
  top:97%;
}
#locationContainer
{
  position:absolute;
  background-color: pink;
  top:196%;

}
#testimonialsContainer
{
  position:absolute;
  background-color: #83CB70;
  opacity: 0.55;
  top:296%;
}
#contactContainer
{
  position: absolute;
  background-color: pink;
  top:396%;
}
#aboutInfo
{
  position: absolute;
  top: 30%;
  left: 30%;
  width: 40%;
  height: 50%;
  border-radius: 25px;
  background-color: blue;
  opacity:0.5;
}
#aboutPicture
{
  position: absolute;
  left: 5%;
  top: 15%;


}
.image-circle
{
  border-radius: 50%;

}
#dogPicture1
{
  position: absolute;
  left: 85%;
  top: 20%;
}

#dogPicture2
{
  position: absolute;
  left: 75%;
  top:40%;

}

#servicesInfo
{
  position:absolute;
  left:25%;
  top: 25%;

  background-color: #FFFFFF;
  opacity: 0.65;
  width: 50%;
  height: 60%;
  border-radius: 25px;

}
#servicesPicture1
{
  position:absolute;
  height: 150px;
  width: 200px;
  left:10%;
  top: 10%;
  border-radius: 5px;
  border: 3px solid;
}

#servicesPicture1 img
{
  height: 100%;
  width: 100%;
}

#servicesPicture2
{
  position: absolute;
  left: 75%;
  top: 60%;
  border-radius: 5px;
  border: 3px solid;
}
#googlemap
{
  position: absolute;
  top: 10%;
  left: 5%;
}
#directions
{
  position: absolute;
  width: 40%;
  height:65%;
  left: 55%;
  top: 15%;
  background-color: blue;
  border-radius: 25px;
  opacity:0.5;

}
.testi
{
  position:absolute;
  height:70%;
  width:20%;
  background-color: blue;
  top: 15%;
}
#testi1
{
  left:10%;

}
#testi2
{
  left:40%;

}
#testi3
{
  left:70%;

}
#email
{
  position: absolute;
  width:50%;
  height:70%;
  left:10%;
  top:15%;
  background-color: blue;
  opacity:0.5;
}
#contactinfo
{
  position:absolute;;
  width:30%;
  height: 30%;
  left: 65%;
  top:20%;
  background-color: blue;
  opacity:0.5;
  border-radius: 25px;

}
