body
{
  max-width: 1900px;
  width:100%;
  height: 100%;
  margin: 0;
  padding: 0;


}

.header
{
  display: block;
  position:absolute;
  width:100%;
  height: 100%;
  background-color: #979797;


}

.nav
{
  position:absolute;;
  bottom: 0;
  width: 100%;
  height:50px;
  background-color: #83CB70;

}

.nav-writing
{
  color: white;
}
#about
{
  position: absolute;
  left: 15%;
}
#services
{
  position: absolute;
  left: 30%;

}

#location
{
  position: absolute;
  left: 45%;

}
#testimonials
{
  position: absolute;
  left: 60%;

}
#contact
{
  position: absolute;
  left: 75%;

}
.content
{
  top:100%;
  height:900px;
  width: 100%;
}
.wrap
{
  width: 80%;
  height:1000px;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
#aboutContainer
{
  position:absolute;
  background-color: #F6F6F6;
  box-shadow: 0px 0px 10px #888888;



}
#servicesContainer
{
  position:absolute;
  background-color: #83CB70;
  opacity:0.55;
  box-shadow: 0px 0px 10px #888888;
  top:200%;
}
#locationContainer
{
  position:absolute;
  background-color: #F6F6F6;
  top:300%;
  box-shadow: 0px 0px 10px #888888;


}
#testimonialsContainer
{
  position:absolute;
  background-color: #83CB70;
  opacity: 0.55;
  top:400%;
  box-shadow: 0px 0px 10px #888888;

}
#contactContainer
{
  position: absolute;
  background-color: #F6F6F6;
  top:496%;
  box-shadow: 0px 0px 10px #888888;

}
#aboutInfo
{
  position: absolute;
  top: 20%;
  left: 31%;
  width: 40%;
  height: 70%;
  border-radius: 25px;
  background-color: white;
  /*opacity:0.5;*/
  box-shadow: 0px 0px 10px #888888;
}
#aboutPicture
{
  position: absolute;
  left: 2%;
  top: 20%;

}
.image-circle
{
  border-radius: 50%;

}
#dogPicture1
{
  position: absolute;
  left: 80%;
  top: 20%;
}

#dogPicture2
{
  position: absolute;
  left: 73%;
  top:40%;

}
#dogPicture3
{
  position: absolute;
  left: 80%;
  top:60%;

}
#dogPicture4
{
  position: absolute;
  left: 73%;
  top:80%;

}
#servicesInfo
{
  position:absolute;
  left:25%;
  top: 25%;

  background-color: #FFFFFF;
  opacity: 0.65;
  width: 50%;
  height: 60%;
  border-radius: 25px;
  box-shadow: 0px 0px 10px #888888;

}
#servicesPicture1
{
  position:absolute;
  height: 150px;
  width: 200px;
  left:10%;
  top: 10%;
  border-radius: 5px;
  border: 3px solid;
}

#servicesPicture1 img
{
  height: 100%;
  width: 100%;
}

#servicesPicture2
{
  position: absolute;
  left: 75%;
  top: 60%;
  border-radius: 5px;
  border: 3px solid;
}
#googlemap
{
  position: absolute;
  top: 15%;
  left: 20%;
  box-shadow: 0px 0px 10px #888888;

}
#directions
{
  position: absolute;
  width: 79%;
  height:30%;
  left: 12%;
  top: 60%;
  background-color: white;
  border-radius: 25px;
  /*opacity:0.5;*/
  box-shadow: 0px 0px 10px #888888;


}
.testi
{
  position:absolute;
  height:40%;
  width:30%;
  top: 15%;
  position: absolute;
  border-radius: 25px;
  background-color: #FFFFFF;
  opacity: 0.65;
  /*opacity:0.5;*/
  box-shadow: 0px 0px 10px #888888;
}
#testi1
{
  left:3%;

}
#testi2
{
  left:35%;

}
#testi3
{
  left:67%;

}
#email
{
  position: absolute;
  width:50%;
  height:70%;
  left:10%;
  top:15%;
  background-color: white;
  /*opacity:0.5;*/
  box-shadow: 0px 0px 10px #888888;


}
#contactinfo
{
  position:absolute;;
  width:30%;
  height: 30%;
  left: 65%;
  top:20%;
  background-color: blue;
  /*opacity:0.5;*/
  border-radius: 25px;
  background-color: white;
  box-shadow: 0px 0px 10px #888888;
}
#headerDog
{
  bottom: 300px;
  width:100%;
  height:auto;
}
#welcome
{
  position:absolute;
  top: 100px;
  left: 375px;
  width: 40%;
  height:20%;
  border-style: solid;
  border-width: thick;
  border-color: white;
}

#message
{
  position:absolute;
  font-family: 'Roboto Condensed', sans-serif;

  font-size: 40px;
  bottom:10%;
  left: 25%;

  color: white;
}
#slogan
{
  position:absolute;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  left:35%;
  top:40%;
  color:white;
}
#arrow
{
  position:absolute;
  left:45%;
  top:130%;
}

#whitebackground
{
  position: absolute;
  background-color: white;
  opacity: 0.5;
  width: 30%;
  height: 50%;
  left:25%;
  top:25%;
}

.writing
{
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 45px;
  font-weight: bold;
  top:10%;
}
